body {
  background-color: #fbeec1;
}

.flex-container{
  display: flex;
}

.app-movie-list {
  flex: 1;
  text-align: center;
}

.app-nominate-list {
  flex: 1;
  text-align: center;
}

.search-bar{
  padding: 10px;
}

.movie-search-results{
  text-align: center;
  justify-content: center
}
.movie-card{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  display: flex;
  border: 2px solid black;
}

.movie-poster{
  flex: 1;
  padding: 10px;
  text-align: center;
}
.movie-info{
  flex: 1;
  padding: 10px;
}

.nominate-movie-card{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  display: flex;
  border: 2px solid black;
}

.nominate-movie-poster{
  flex: 1;
  padding: 10px;
  text-align: center;
}
.nominate-movie-info{
  flex: 1;
  padding: 10px;
}

.button-add {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-remove {
  background-color: #DC143C; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}